/bin/
/bin-int/
/build/
/cache/
/dist/
/assets/shaders/internal/*.spv
/assets/models/Bistro_Godot.glb
/.vs/
/external/LivePP/
*.sln
*.slnx
*.vcxproj*
Makefile
*.make
*.ttf
*.iryasset
runtime-startup-*.log
/imgui.ini
