[submodule "external/velos"]
	path = external/velos
	url = https://github.com/LipskiDev/velos.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/flecs"]
	path = external/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "external/box3d"]
	path = external/box3d
	url = https://github.com/erincatto/box3d.git
[submodule "external/msdf-atlas-gen"]
	path = external/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/fastgltf"]
	path = external/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson.git
